<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
<script src="https://unpkg.com/h3-js"></script>

<title>H3O cell viewer</title>
</head>

<body>
<h3>Map:</h3>
<div id="map" style="width: 900px; height: 700px"></div>
<script>
     const map = L.map('map').setView([0, 0], 0);

     const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
     }).addTo(map);
     {{circles}}

     var data = {{geojson}};
     var geojson = L.geoJSON(data, {
         onEachFeature: function (feature, layer) {
            if (feature.properties.label != "") {
                layer.bindTooltip(feature.properties.label, {permanent: true});
            }
        }
     });

     geojson.addTo(map);

     var bounds = geojson.getBounds();
     map.fitBounds(bounds);


</script>
</body>

</html>
